<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{.Title}}</title>
</head>
<body class="page-edit">
    <div class="ed-container">
        <div class="ed-item">
            <h1>Crear Página</h1>

            <form action="/savenew/" method="POST">
                <div>
                    <input type="text" id="title" name="title" placeholder="Título de la página">
                </div>
                <div>
                    <textarea name="body" placeholder="Contenido de la página"></textarea>
                </div>
                <button type="submit" class="btn btn--primary">Guardar</button>
            </form>

            <a href="/" class="btn btn--warning text-center">Volver al listado</a>
    </div>
</body>
</html>
