<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="page-edit">
    <div class="ed-container">
        <div class="ed-item">
            <h1>Nueva Página</h1>

            <form action="/savenew/" method="POST">
                <div>
                    <input type="text" id="title" name="title" placeholder="Nombre del archivo (no incluya la extensión)">
                </div>
                <div>
                    <textarea id="body" name="body" placeholder="Contenido de la página"></textarea>
                </div>
                <button type="submit" class="button button--primary">Guardar</button>
            </form>

            <a href="/" class="button button--warning text-center">Volver al listado</a>
    </div>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
    <script src="/js/scripts.js"></script>
</body>
</html>
