<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{.Title}}</title>
</head>
<body class="page-edit">
    <div class="ed-container">
        <div class="ed-item">
            <h1>Página: {{.Title}}</h1>

            <form action="/save/{{.Title}}" method="POST">
                <div>
                    <textarea name="body">{{printf "%s" .Body}}</textarea>
                </div>
                <button type="submit" class="btn btn--primary">Guardar</button>
            </form>

            <a href="/list" class="btn btn--warning text-center">Volver al listado</a>
    </div>
</body>
</html>
