<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Listado de páginas</title>
</head>
<body class="page-list">
    <div class="ed-container">
        <div class="ed-item">
            <h1>Listado de páginas</h1>

            <div class="pages">
                <ol>
                    {{range $element := .}}
                        <li class="pages__item">
                            <a href="/view/{{$element}}">{{$element}}</a>
                        </li>
                    {{else}}
                      <div class="alert alert--danger">
                        <p>No se encontraron páginas.</p>
                      </div>
                      <div class="text-center">
                          <a class="btn btn--primary" href="/edit/nueva">Cree una nueva aquí</a>
                      </div>
                    {{end}}
                </ol>
            </div>
        </div>
    </div>
</body>
</html>
