<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      h1 {
        color: #906363;
      }
    </style>
    <title>Listado de páginas</title>
  </head>
  <body>
    <h1>Listado de páginas</h1>

    {{range $element := .}}
      <div>
        <a href="/view/{{$element}}">{{$element}}</a>
      </div>
    {{else}}
      <div>
        <p>No se encontraron páginas.</p>
        <p><a href="edit/nueva">Cree una nueva aquí</a></p>
      </div>
    {{end}}

  </body>
</html>
