<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{.Title}}</title>
</head>
<body class="page-view">
    <div class="ed-container">
        <div class="ed-item">
            <div>
                {{printf "%s" .Body}}
            </div>

            <div class="buttons">
                <a href="/edit/{{.Title}}" class="button button--primary">Editar</a>
                <a href="/list" class="button button--warning">Volver al listado</a>
            </div>
        </div>
    </div>
</body>
</html>
